name: 刷步数

on:
  schedule:
    # 每天北京时间 14:00 (UTC 06:00)
    - cron: '0 6 * * *'
    # 每天北京时间 21:00 (UTC 13:00)
    - cron: '0 13 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout codes
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.PAT }} #此处PAT需要申请，教程详见：README
      - name: Update system and install zsh
        run: |
          sudo -E apt-get -qq update
          sudo -E apt-get install zsh -y
          
      - name: 初始化Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      # --- 核心修改：就在这里插入 ---
      - name: 随机延迟运行
        run: |
          delay=$((1 + RANDOM % 900))
          echo "为了模拟真实操作，系统将随机延迟 $delay 秒后开始..."
          sleep $delay
          
      - name: 开始
        env:
            CONFIG: ${{ secrets.CONFIG }}
            AES_KEY: ${{ secrets.AES_KEY }}
        run: |
          pip3 install requests pytz pycryptodome
          python3 main.py

      - name: persist tokens
        run: |
          git config user.name github-actions
          git config user.email github-actions@users.noreply.github.com
          git add .
          git commit -m "persist tokens trigger by ${{ github.event_name }}"
          git push origin master
