name: 刷步数

on:
  schedule:
    # 1. 北京时间 08:00 (UTC 00:00)
    - cron: '0 0 * * *'
    # 2. 北京时间 14:00 (UTC 06:00)
    - cron: '0 6 * * *'
    # 3. 北京时间 21:00 (UTC 13:00)
    - cron: '0 13 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 初始化Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: 随机延迟运行
        run: |
          delay=$((1 + RANDOM % 900))
          echo "随机延迟 $delay 秒后开始..."
          sleep $delay
          
      - name: 执行同步
        env:
            CONFIG: ${{ secrets.CONFIG }}
            AES_KEY: ${{ secrets.AES_KEY }}
        run: |
          pip3 install requests pytz pycryptodome
          python3 main.py

      - name: 持久化 Token
        run: |
          git config --local user.name github-actions
          git config --local user.email github-actions@users.noreply.github.com
          git add .
          git commit -m "update token" || exit 0
          git push origin master
